.body {
  background-color: #202020;
}
.parent {
  border: 1px solid #fff;
  max-width: 400px;
  padding: 0 2rem 50px;
  margin: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.header {
  background-color: #ff0095;
  padding: 20px 1rem;
  width: 100%;

  border: 1px solid #ff0095;
  border-radius: 10px;

  margin-top: -40px;
}

.header h1 {
  margin: 0;
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
}

.essay {
  font-weight: 600;
  font-size: 0.95rem;
  text-align: justify;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .header h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 370px) {
  .header h1 {
    font-size: 1.5rem;
  }

  .essay {
    font-size: 0.8rem;
  }
}
